*{
    box-sizing: border-box;
    margin: 10px;
    background-color: #edd8c8;
}

h1{
    color: #4C2C2E;
    text-align: center;
    font-family: Helvetica, serif, Arial;
    font-size: 40px;
}

button{
    display: block;
    background-color: #E8B287;
    padding: 10px;
}

p,
ul,
ol{
    color: #4C2C2E;
}

h2{
    color: #A888A0;
}

.conclusion{
    color: #A888A0;
}

a{
    text-decoration: none;
    
}